#board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.card {
  width: 32px;
  height: 32px;
}

.closed-card {
  background-image: url("../img/closed.png");
}

.card0 {
  background-image: url("../img/00.png");
}

.card1 {
  background-image: url("../img/01.png");
}

.card2 {
  background-image: url("../img/02.png");
}

.card3 {
  background-image: url("../img/03.png");
}

.card4 {
  background-image: url("../img/04.png");
}

.card5 {
  background-image: url("../img/05.png");
}

.card6 {
  background-image: url("../img/06.png");
}

.card7 {
  background-image: url("../img/07.png");
}
